@import "vars";

@mixin title-text {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  color: $base-dark-green;
}

@mixin subtitle-text {
  margin: 0;
  font-size: 13px;
  color: #78909c;
}
