$base-pink: #df468e;
$base-pink-hover: #a1395d;
$base-blue: #1e88e5;
$base-blue-hover: #1b3e7c;
$base-dark-green: #37474f;
$base-link-gray: #98a0a5;
$base-link-gray-hover: #888f96;
$base-gray: #f5f5f5;
$base-gray-hover: #cecece;
